body {
	background-color: #eee;
	/* Websafe Fonts */
	font-family: Helvetica, Open Sans, sans-serif;
	padding: 50px 200px;
}

.clearfix:before,

.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.header {
	margin-bottom: 20px;
	/* Websafe Fonts */
	font-family: Helvetica, Open Sans, sans-serif;
}

.header--logo {
	background-color: #999;
	border-radius: 50%;
	color: #fff;
	font-size: 25px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	width: 90px;
}

.toolbar {
	font-family: Helvetica, Open Sans, sans-serif;
	margin-bottom: 10px;
}

.toolbar--name {
	float: left;
	font-size: 25px;
}

.office {
	background-color: #fff;
	border: 1px solid #000;
	box-sizing: border-box;
	padding: 38px;
	width: 100%;
}

.table {
	border: 1px solid #000;
	display: inline-block;
	height: 10rem;
	line-height: 10rem;
	margin: 25px;
	text-align: center;
	width: 16rem;

}
