body {
	background-color: #eee;
	/* Websafe Fonts */
	font-family: Helvetica, Open Sans, sans-serif;
	padding: 20px 170px;
}

.clearfix:before,

.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.header {
	margin-bottom: 20px;
	/* Websafe Fonts */
	font-family: Helvetica, Open Sans, sans-serif;
}

.header--logo {
	background-color: #999;
	border-radius: 50%;
	color: #fff;
	font-size: 25px;
	font-weight: 500;
	height: 90px;
	line-height: 90px;
	text-align: center;
	width: 90px;
}

.toolbar {
	margin-bottom: 10px;
}

.toolbar--name {
	float: left;
	/* Websafe Fonts */
	font-family: Helvetica, Open Sans, sans-serif;
	font-size: 25px;
}

.office {
	background-color: #fff;
	border: 1px solid #000;
	box-sizing: border-box;
	/* Websafe Fonts */
	font-family: Open Sans, Helvetica, sans-serif;
	padding: 20px;
	width: 100%;
}

.table {
	display: inline-block;
	margin: 42px;
	position: relative;
	text-align: center;

}

.table--inner {
	background-color: #ececec;
    box-sizing: border-box;
	border: 2px solid #fff;
	height: 10rem;
	line-height: 10rem;
	position: relative;
	width: 16rem;
    z-index: 1;
}

.table--inner {
	background-color: #ececec;
    box-sizing: border-box;
	border: 2px solid #fff;
	height: 10rem;
	line-height: 10rem;
	position: relative;
	width: 16rem;
    z-index: 1;
}

.member {
	background-color: #333;
	border-radius: 50%;
	display: inline-block;
	height: 50px;
	position: absolute;
	width: 50px;
}

.member.highlighted {
	background-color: #0BB5FF;
}

.member.vacant {
	background-color: #ddd;
}


input {
	font-family: inherit;
}

input:focus { 
    outline:none;
    border:1px solid #0EBFE9;
}


.search {
    height: 35px;
    position: relative;
    width: 270px;
}

.search--icon {
	color: #777;
	position: absolute;
    right: 10px;
    top: 8px;
}

.search--input {
	border: 1px solid #ccc;
    box-sizing: border-box;
    color: #777;
    font-size: 16px;
    height: 100%;
    padding: 5px;
    width: 100%;
}

.searchContainer {
	float: right;
}


.dialog {
	background-color: #fff;
	height: 135px;
	padding: 12px;
    width: 190px;
}

.dialog--body--data {
	margin-bottom: 10px;
}

.dialog--body--field {
	font-size: 11px;
    color: #aaa;
}

.dialog--body--value {
	font-size: 13px;
}

.dialog--header {
	margin-bottom: 10px;
}

.dialog--header--data {
	display: inline-block;
}

.dialog--header--dp {
	border-radius: 50%;
	display: inline-block;
    height: 45px;
    margin-right: 12px;
    overflow: hidden;
    width: 45px;
}

.dialog--header--dp img {
    height: 100%;
   	width: 100%;
}

.dialog--header--name {
	font-size: 15px;
}

.dialog--header--desig {
	font-size: 12px;
}


.filter {
	background-color: #fff;
	border: 1px solid #ccc;
	box-sizing: border-box;
	cursor: pointer;
	height: 35px;
	margin-left: 10px;
	padding: 6px;
	text-align: center;
	width: 40px;
}

.filter--icon {
	font-size: 20px;
}

.filterContainer {
	float: right;
}